.container {
  width: 970px !important;
}
.headline {
  padding: 73px 0 110px;
  text-align: center;
}
.logo {
  font: 600 70px "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: -2px;
  margin: 10px 0;
}
.logo .logo {
  background: url(../images/logo.jpg) center 0 no-repeat;
  background-size: 161px 169px;
  height: 181px;
  margin: 0 auto;
  overflow: hidden;
  text-indent: -9999em;
  width: 236px;
}
.logo small {
  color: rgba(52, 73, 94, 0.30000000000000004);
  display: block;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0;
  padding-top: 5px;
}
.row {
  margin-bottom: 20px;
}
.row .heading-note,
.row .text-note {
  display: block;
  width: 140px;
  position: absolute;
  bottom: 10px;
  left: 0;
  font-size: 13px;
  line-height: 13px;
  color: #c0c1c2;
  font-weight: 400;
}
.row .text-note {
  bottom: auto;
  top: 10px;
}
.row.typography-row .content {
  float: none;
  width: auto;
  clear: both;
}
.row.typography-row .type {
  padding-left: 25%;
  margin-bottom: 40px;
  position: relative;
}
.section-title {
  font: 900 32px/40px "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 10px 0;
}
.panel-title {
  padding-top: 20px;
  margin: 2px 0 20px;
  font: bold 23px/40px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.panel-title small {
  color: #798795;
  font-size: inherit;
  font-weight: 400;
}
.navigation {
  margin-bottom: -4px;
  margin-top: -10px;
}
.pager {
  margin-top: -20px;
}
.tooltips {
  height: 126px;
}
.tooltips .tooltip {
  left: -8px !important;
  position: relative !important;
  top: -8px !important;
}
.headings {
  margin-bottom: 12px;
}
.tiles {
  margin-bottom: 46px;
}
.icons {
  font-size: 32px;
  margin-left: -20px;
  padding-left: 20px;
}
.icons .content {
  margin: 0 0 0 -35px;
}
.icons .content > span {
  display: inline-block;
  margin: 0 0 32px 35px;
  width: 24px;
  font-size: 24px;
}
.icons-tooltip {
  bottom: 0;
  color: #c2c8cf;
  font-size: 12px;
  left: 100%;
  margin-left: 0 !important;
  position: absolute;
  width: 80px;
}
.illustrations .content {
  margin: 0 0 0 -40px;
  padding-top: 20px;
}
.illustrations .content:before,
.illustrations .content:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.illustrations .content:after {
  clear: both;
}
.illustrations .content > div {
  float: left;
  width: 100px;
  height: 100px;
  line-height: 100px;
  margin: 0 0 40px 40px;
  text-align: center;
}
.illustrations img {
  display: inline-block;
  max-height: 100px;
  max-width: 100px;
  vertical-align: middle;
}
.samples {
  margin-bottom: 46px;
}
.video {
  padding-top: 95px;
  border-radius: 6px;
}
.download-section {
  float: none;
  margin: 0 auto;
  padding: 60px 0 90px 20px;
  text-align: center;
}
.download-section [class*='fui-'] {
  margin: 3px 0 -3px;
}
.download {
  background-color: #ebedef;
  height: 190px;
  margin: 0 auto 32px;
  padding: 40px 28px 30px 32px;
  text-align: center;
  width: 190px;
  border-radius: 50%;
}
.download img {
  height: 104px;
  width: 82px;
}
.download-text {
  font-size: 15px;
  padding: 20px 0;
  text-align: center;
}
.text-box a:hover {
  color: #1abc9c;
}
.browser {
  background: #2c3e50 url(../images/demo/browser.png) 0 0 no-repeat;
  background-size: 659px 42px;
  color: #ffffff;
  margin: 0 41px 140px 0;
  padding-top: 42px;
  border-radius: 0 0 6px 6px;
}
.browser-side {
  float: left;
  padding: 22px 20px;
  width: 151px;
}
.browser-side > h5 {
  font-size: 16px;
  margin-top: 4px;
  margin-bottom: 3px;
  text-transform: none;
  font-weight: 400;
}
.browser-side > h6 {
  font-size: 11px;
  font-weight: 300;
  line-height: 18px;
  margin-top: 3px;
  text-transform: none;
  -webkit-font-smoothing: subpixel-antialiased;
}
.browser-author {
  background: url(../images/demo/browser-author.jpg) center center no-repeat;
  border: 3px solid #ffffff;
  display: block;
  height: 84px;
  margin: 0 auto;
  width: 84px;
  border-radius: 50%;
}
.browser-action {
  padding: 30px 0 12px;
}
.browser-action > .btn {
  padding: 7px 0 8px 11px !important;
  text-align: left;
  border-radius: 3px;
}
.browser-action > .btn:before {
  color: #ffffff;
  content: '\e009';
  font-size: 16px;
  font-family: 'Flat-UI-Icons';
  font-weight: 300;
  margin-right: 12px;
  position: relative;
  top: 1px;
  -webkit-font-smoothing: antialiased;
}
.browser-content {
  background-color: #34495e;
  overflow: hidden;
  padding: 21px 0 0 20px;
  border-radius: 0 0 6px;
}
.browser-content > img {
  border: 6px solid #ffffff;
  float: left;
  margin: 0 15px 20px 0;
  width: 146px;
}

.no-display { display: none; }

input[type=radio]:hover{
    color: aqua;
    
}